html {
	box-sizing: border-box;
	font-size: 10px;
}

*,
*::after,
*::before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

html,
body {
	height: 100%;
	font-family: "Mulish", sans-serif;
}

.container {
	margin: 0 auto;
	max-width: 1920px;
	padding: 1.2rem 0 4rem 2.5rem;
}

.active {
	color: #f00;
}

.active__link {
	color: #f00;
	font-weight: bold;
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 5px;
}

.header__mobile,
.footer__mobile {
	display: none;
}

/* HEADER STYLES START */
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 3.5rem;
	width: 100%;
}

.header__mobile {
	display: none;
}

.header__left {
	display: flex;
	align-items: center;
	width: 100%;
}

.header__burger-menu {
	display: flex;
	flex-direction: column;
	margin-right: 1.8rem;
	cursor: pointer;
}

.burger-line {
	width: 17px;
	height: 3px;
	border-radius: 26px;
	background-color: black;
	margin-bottom: 3px;
	display: inline-block;
}

.burger-line:last-child {
	margin-bottom: 0;
}

.header__logo {
	margin-right: 4.4rem;
	width: 10.1rem;
	height: 2rem;
}

.header__search {
	display: flex;
	justify-content: space-between;
	background-color: rgba(235, 235, 235, 0.3);
	background: #ebebeb;
	border-radius: 26px;
	padding: 0 1.7rem;
	flex: 0 1 67rem;
	margin-right: 5rem;
}

.search__input {
	width: 100%;
	border: none;
	outline: none;
	background: rgba(235, 235, 235, 0);
	padding: 9px 0;
	font-weight: 400;
	font-size: 13px;
	color: #30384c;
}

.menu__list {
	display: flex;
	align-items: center;
}

.menu__list_item {
	margin-right: 3.5rem;
	transition: ease 0.2s;
}

.menu__list_item:hover,
.user__header_subs img:hover {
	scale: 1.2;
}

.notification {
	position: relative;
}

.notification__missed {
	font-size: 9px;
	border-radius: 50%;
	padding: 2px 5px;
	color: white;
	background-color: red;
	position: absolute;
	bottom: 18px;
	right: -3px;
}

.menu__list_item:last-child {
	margin-right: 0;
}

/* HEADER STYLES END */

.main {
	display: flex;
}

/* ASIDE STYLES START */

.aside {
	padding: 3.7rem 5.1rem 0 0;
}

.aside__main {
	margin-bottom: 4.9rem;
}

.aside__second {
	margin-bottom: 4.4rem;
}

.aside__list_item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 1.9rem;
	font-weight: 400;
	font-size: 13px;
	color: #898989;
	cursor: pointer;
}

.aside__list_item p:hover {
	color: red;
}

.aside__second .aside__list_item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 2.4rem;
	font-weight: 400;
	font-size: 13px;
	color: #898989;
}

.aside__list_item img {
	width: 1.6rem;
	margin-right: 1rem;
}

.aside__subscriptions {
	margin-bottom: 8.3rem;
}

.aside__subscriptions img {
	width: 2rem;
	margin-right: 6px;
}

.aside__subscriptions p {
	white-space: nowrap;
}

.aside__subscriptions_title {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 3rem;
}

/* ASIDE STYLES END */

/* MAIN CONTENT STYLES START */
.section__title {
	font-weight: bold;
	font-size: 2rem;
	margin-right: 2rem;
}

.section__title_additional {
	color: rgb(194, 194, 194);
	font-weight: normal;
	font-size: 1.2rem;
}

.videos__header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	font-weight: 700;
	font-size: 20px;
	color: #19202c;
	padding: 3.8rem 10.2rem 0 0.5rem;
}

.user__info-content {
	display: flex;
	align-items: center;
}

.user__info_logo {
	margin-right: 1.5rem;
	width: 4rem;
}

.controls__subscription-btn {
	font-weight: 400;
	font-size: 12px;
	text-align: center;
	color: #fff;
	border-radius: 20px;
	width: 12.2rem;
	height: 3.3rem;
	border: none;
	background: #f00;
	margin-left: 1.4rem;
}

.controls__subscription-btn:hover {
	opacity: 0.6;
}

.videos__title {
	letter-spacing: 0.5px;
}

.controls {
	display: flex;
	align-self: flex-end;
	cursor: pointer;
}

.controls img {
	height: 2.2rem;
}

.controls__left {
	margin-right: 1rem;
	margin-left: 3rem;
}

.videos__main {
	padding-top: 2.2rem;
}

.videos__list {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

.videos__list_big {
	display: grid;
	grid-template-columns: repeat(3, 2fr);
}

.videos__list_item-img {
	width: 105%;
	margin-bottom: 0.5rem;
}

.videos__list_item {
	margin-right: 3rem;
	cursor: pointer;
	transition: ease 0.2s;
}

.videos__list_item:hover {
	scale: 1.2;
}

.videos__list_item-title {
	font-weight: 700;
	font-size: 13px;
	color: #19202c;
	margin-bottom: 4px;
}

.videos__list_item-additional {
	display: flex;
	justify-content: space-between;
	font-weight: 400;
	font-size: 13px;
	color: #c2c2c2;
}

.videos__list_item-additional p {
	font-weight: 400;
	font-size: 11px;
	color: #c2c2c2;
}

@media (max-width: 1200px) {
	.videos__list {
		grid-template-columns: repeat(3, 1fr);
	}

	.videos__list_item {
		margin-bottom: 2rem;
	}
}

@media (max-width: 767px) {
	.videos__list {
		grid-template-columns: repeat(2, 1fr);
	}

	.videos__header {
		padding-right: 5rem;
	}
}

@media (max-width: 650px) {
	.container {
		padding: 1.2rem 0 4rem 1.5rem;
	}
	.aside,
	.header,
	.header__search,
	.videos__header {
		display: none;
	}
	.header__mobile {
		display: flex;
		justify-content: space-between;
		/* 		align-items: center;
		padding: 2rem;
		height: 26rem;
		width: 139rem;
		padding: 8rem 6rem; */
	}

	.header__logo {
		width: 12rem;
		height: 100%;
	}
	.header__mobile_left {
		display: flex;
		align-items: center;
	}
	.menu__list_item-img {
		margin-left: 3rem;
	}
	.videos__main {
		padding-top: 1.2rem;
	}
	.videos__list,
	.videos__list_big {
		grid-template-columns: repeat(1, 1fr);
	}
	.videos__list_item {
		margin-right: 2rem;
		margin-bottom: 1.2rem;
	}
	.videos__list_item-title {
		font-size: 16px;
	}
	.videos__list_item-img {
		width: 100%;
		height: 70%;
	}
	.footer__mobile {
		display: flex;
		width: 100%;
		padding: 2rem 1rem;
		background: white;
		position: fixed;
		bottom: 0;
	}

	.mobile__navigation {
		width: 85%;
	}
	.mobile__list {
		display: flex;
		justify-content: space-between;
	}
	.mobile__list-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.footer__mobile img {
		height: 2rem;
		margin-bottom: 0.5rem;
	}
}
